#first-v {
  padding: auto;
  height: 1000px;
  background-image: url(../img/top.jpg);
  background-size: cover;
}

.first-v-title {
  text-shadow: 10px 0 3px black;
  padding: 285px;
  text-align: center;
  /* padding-top: 385px; */
  font-size: 100px;
  color: blanchedalmond;
  font-family: "Bradley Hand", sans-serif;
}
