* {
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
「background-attachment: fixed;」で背景を固定する
※background-attachment: fixed;とbackground-size: cover;
を同時に使用した場合、iOSでは正しく動作しない
*/
/* .fixed-bg {
  height: 300px;
} */
