#news {
  padding-top: 100px;
  height: 450px;
  background-color: #222;
}

.about-title {
  color: white;
  padding-top: 10px;
  font-size: 20px;
  font-family: "Hannotate SC", sans-serif;
}

.about-title-img1 {
  background-image: url(../img/fw1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
}

.about-title-img2 {
  background-image: url(../img/fw2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
}

.about-title-img3 {
  background-image: url(../img/fw3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
}

.about-title-img4 {
  background-image: url(../img/fw4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
}

.about-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.about-item {
  /* display: flex; */
  padding: 35px 50px 50px;
  text-align: center;
}
