#location {
  height: 404x;
  font-family: "Hannotate SC", sans-serif;
  background-color: #222;
}

#location .info {
  font-size: 35px;
  background-color: #222;
  color: #fff;
  text-align: center;
}
#location .location-wrap {
  background-color: #222;
}

#location .map {
  background-color: #222;
  padding-top: 20px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
.bar-img1 {
  /* background-image: url(../img/bar_men.png); */
  background-repeat: no-repeat;
}
